*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    outline: none;
}

body{
    background-color: #e6e6ec;
}

.imagen-gif{
    width: 200px;
    display: block;
    margin: 20px auto;
}


main{
    width: 375px;
    background:#f4f4f4;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label{
    color:  #777777;
    font-weight:700 ;
    font-size: 14px;
}

select, input{
    background: #ffffff ;
    border:1px solid #bbbbbb ;
    border-radius:4px ;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight:700 ;
    font-size:16px ;
    color: #050000;
    cursor: pointer;

}

button{
    width: 100%;
    background: #772fd3;
    border-radius: 3px;
    height: 43px;
    color: #ffff;
    border: none;
    cursor: pointer;
}

button:hover{
opacity: 0.8;
}

button:active{
    opacity: 0.6;

}

section{
    border:1px solid #772fd3 ;
    border-radius:20px ;
    margin-top: 26px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img{
    margin: 15px 0;
   

}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency{
    color: #7777;
font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    color:#5555 ;
    font-weight:700 ;
    font-size: 20px;

}

.moeda-brasil{
    width: 60px;
}
